<div class="main-content">
  <app-navbar></app-navbar>

  <div class="body-container">
    <h1>Students List</h1>
    <ul>
      @for (student of students; track student.id) {
      <li>{{ student.student_name }} - {{ student.student_email }}</li>
      } @empty {
      <li>No students available.</li>
      }
    </ul>
    <div>
      <h1>Students List</h1>
      <ul>
        @for (student of students; track student.id) {
        <li>{{ student.student_name }} - {{ student.student_email }}</li>
        } @empty {
        <li>No students available.</li>
        }
      </ul>
    </div>
    <div>
      <h1>Students List</h1>
      <ul>
        @for (student of students; track student.id) {
        <li>{{ student.student_name }} - {{ student.student_email }}</li>
        } @empty {
        <li>No students available.</li>
        }
      </ul>
    </div>
    <div>
      <h1>Students List</h1>
      <ul>
        @for (student of students; track student.id) {
        <li>{{ student.student_name }} - {{ student.student_email }}</li>
        } @empty {
        <li>No students available.</li>
        }
      </ul>
    </div>
    <div>
      <h1>Students List</h1>
      <ul>
        @for (student of students; track student.id) {
        <li>{{ student.student_name }} - {{ student.student_email }}</li>
        } @empty {
        <li>No students available.</li>
        }
      </ul>
    </div>
    <div>
      <h1>Students List</h1>
      <ul>
        @for (student of students; track student.id) {
        <li>{{ student.student_name }} - {{ student.student_email }}</li>
        } @empty {
        <li>No students available.</li>
        }
      </ul>
    </div>
  </div>
</div>
